.Header{
    background-color: rgb(189, 189, 189);
    width: 100vw;
    height: 60px;
    display: grid;

}

.me-auto{
    background-color: rgb(209, 209, 209);
    margin-top: 10px;
    border-radius: 5px;
    display: grid;
    grid-row-gap: 5px;
    padding-bottom: 10px;
    
    .Link{
        background-color: rgb(209, 209, 209);
        border-radius: 5px;
        color: rgb(104, 104, 104);
        display: grid;
        height: 40px;
        grid-template-columns: 15px 1fr;
        .none{
            display: grid;
            grid-column: 1;
            font-size: 0;
        }
    }

    .Link:hover{
        background-color: rgb(196, 196, 196);
        border-radius: 5px;
        color: rgb(0, 0, 0);
        display: grid;

    }

    .btn_menu{
        display: grid;
        align-items: center;
        .Switch_menu{
            display: grid;
        }
    }

}